.bg-img{
    background-image: url("./background.png");
    height: 250px;
}
.logo{
    position: absolute;
    left: 45%;
    top: 10%;
}
.s1{
    color: rgb(4, 4, 75);
    position:absolute;
    float: left;
    font-family: Poppins;
    font-weight: bold;
}
.p{
    color: grey;
    position:absolute;
    float: left;
    font-family: Poppins;
}
.p1{
    color: grey;
    position:absolute;
    left: 250px;
    top: 450px;
    font-family: Poppins;
}
.h4{
    color: grey;
    position:absolute;
    left: 250px;
    top: 400px;
    font-family: Poppins;
}
.text_1{
    position: absolute;
    left:20%;
    color: black;
}
.text_2{
    position: absolute;
    left:47%;
    color: black;
}
.text_3{
    position: absolute;
    left:75%;
    color: black;
}
.text_4{
    position: absolute;
    left:20%;
    top: 80%;
    color: black;
}
.text_5{
    position: absolute;
    left:47%;
    top: 80%;
    color: black;
}
.text_6{
    position: absolute;
    left:75%;
    top: 80%;
    color: black;
}
.dropdown {
    position: absolute;
    top: 200px;
    color: black;
    left:300px;
    }
.h1
{
    color:white;
    position: absolute;
    top:150px;
    left: 25%;
}
.text{
    position: absolute;
    top: 200px;
    color: black;
    left:700px;
    letter-spacing: normal;
}
.breakfast{
    position: absolute;
   float: left;
}
.lunch{
    position: absolute;
    left: 500px;
}
.snacks{
    position: absolute;
    left: 880px;
}
.dinner{
    position: absolute;
    float: left;
    top: 80%;
}
.drinks{
    position: absolute;
    float: left;
    left: 500px;
    top: 80%;
}
.nightlife{
    position: absolute;
    float: left;
    left: 880px;
    top: 80%;
}
.first{
    color: gray;
}
